html {
    font-size: 16px;
}
#video {
    color: #b00000;
}
body {
    font-family: 'Outfit', sans-serif;
    color:#460858;
    background-color:#f3f3d1
}
a {
    color: rgb(209, 15, 15);
}
:not(pre)>code[class*=language-], pre[class*=language-] {
background-color: transparent;
} 
.wrapper {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
code {
    background-color: rgba(240, 239, 228, 0.993);
    
}
